.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 85vh;
  justify-content: center;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #08121d;
}

.icon {
  font-size: 1.8rem;
  margin-right: 15px;
}

.navbar-list {
  display: flex;
  padding: 0;
  list-style: none;
  font-size: 1.7rem;
}

.link-navbar {
  text-decoration: none;
}

.link-navbar:visited {
  color: #f5deb3;
}

.navbar-btn {
  background-color: #f5deb3;
  color: #08121d;
  border: 1px solid #f5deb3;
  border-radius: 0px 5px 5px 0px;
  width: 4.3rem;
}

.navbar-input {
  border: 1px solid #f5deb3;
  border-radius: 5px 0px 0px 5px;
  padding-left: 5px;
  width: 8rem;
}

/* search page*/

.movies-search {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  width: 300px;
  margin-bottom: 10px;
}

.card > img {
  max-width: 100%;
  height: 30rem;
}

.card > h5 {
  font-size: 19px;
}
/* selected movie page*/

.movie-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  margin-top: 20px;
}

.movie-img {
  height: auto;
  max-width: 70%;
}

.italic {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}

.movie-details > section {
  max-width: 70%;
}

.movie-title {
  font-size: 28px;
}

.movie-details > section > h4 {
  font-size: 18px;
}

.description {
  font-size: 20px;
}
